// change the theme
$theme-colors: (
  "primary": #1d9bf0,
  "secondary": #536471,
);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}
